In [128]:
import statsmodels.api as sm
import urllib.request as url
import pandas as pd
import numpy as np

In [129]:
data=pd.read_csv('crime.csv',sep=',',header=0)
data.iloc[:3,]

       y    M  So    Ed  Po1   LF   M.F  Pop   U1  U2  GDP
0   79.1  151   1   9.1   58  510   950   33  108  41  394
1  163.5  143   0  11.3  103  583  1012   13   96  36  557
2   57.8  142   1   8.9   45  533   969   18   94  33  318

In [130]:
X=data.iloc[:,1:11]
y=data.iloc[:,0]
XC=sm.add_constant(X)

In [131]:
model=sm.OLS(y,XC).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.684
Model:                            OLS   Adj. R-squared:                  0.597
Method:                 Least Squares   F-statistic:                     7.809
Date:                Fri, 22 Feb 2019   Prob (F-statistic):           1.70e-06
Time:                        11:24:14   Log-Likelihood:                -210.87
No. Observations:                  47   AIC:                             443.7
Df Residuals:                      36   BIC:                             464.1
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -589.3999    167.591     -3.517      0.001    -929.289    -249.510
M              1.0406      0.446      2.331      0.025       0.135       1.946
So            11.2946     13.245      0.853      0.399     -15.568      38.157
Ed            11.7794      6.818      1.728      0.093      -2.048      25.607
Po1            0.9636      0.250      3.862      0.000       0.458       1.470
LF             0.1060      0.153      0.692      0.493      -0.205       0.417
M.F            0.3035      0.223      1.363      0.181      -0.148       0.755
Pop            0.0904      0.139      0.652      0.518      -0.191       0.372
U1            -0.6818      0.481     -1.418      0.165      -1.657       0.293
U2             2.1503      0.951      2.262      0.030       0.222       4.079
GDP           -0.0831      0.091     -0.913      0.367      -0.268       0.101
==============================================================================
Omnibus:                        1.885   Durbin-Watson:                   1.776
Prob(Omnibus):                  0.390   Jarque-Bera (JB):                1.249
Skew:                           0.392   Prob(JB):                        0.535
Kurtosis:                       3.154   Cond. No.                     5.92e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.92e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [132]:
Xm={}
for i in XC.columns[1:]:
    Xm[i]=XC.drop([i],axis=1)

In [133]:
AIC=[]
errores=[]
BIC=[]
for i in Xm:
    model=sm.OLS(y,Xm[i]).fit()
    yp=model.predict(Xm[i])
    errores.append(sum([(y[i]-yp[i])**2 for i in range(len(y))]))
    BIC.append(model.bic)
    AIC.append(model.aic)

In [134]:
modelos = pd.DataFrame(np.array([AIC,BIC,errores]),columns=Xm.keys(),index=['AIC','BIC','errores'])
modelos

,M,So,Ed,Po1,LF,M.F,Pop,U1,U2,GDP
AIC,448.354878,442.687382,445.491188,458.035979,442.368287,444.112441,442.299359,444.302092,447.991443,442.823744
BIC,466.856354,461.188858,463.992664,476.537455,460.869763,462.613917,460.800835,462.803568,466.492919,461.325220
errores,24989.327401,22150.583017,23512.195850,30705.128861,22000.706221,22832.483175,21968.464477,22924.800942,24796.838739,22214.941891